@use '@styles/mixins';
@use '@styles/colors';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  @include mixins.allChildExceptLast {
    margin-right: 1rem;
  }
  svg {
    fill: colors.$white;
  }
  a {
    display: flex;
  }
  a:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
