@use '@styles/colors';

.main-button {
  background-color: colors.$secondary;
  border: 2px solid colors.$secondary;
  border-radius: 10px;
  color: colors.$primary-black;
  padding: 0.9rem 1.5rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 200ms ease;

  &:hover {
    transform: translate(0px, -3px);
  }
}

.secondary {
  background-color: transparent;
  color: colors.$secondary;

  &:hover {
    transform: translate(0px, -3px);
  }
}
