@use '@styles/mixins';
@use '@styles/colors';

.homeContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 40rem;
  @include mixins.allChildExceptLast {
    margin-bottom: 1.5rem;
  }
  .title {
    text-transform: uppercase;
    span {
      color: colors.$primary;
    }
  }
}

.ctaContainer {
  @include mixins.mq(md) {
    display: flex;
    justify-content: center;
    @include mixins.allChildExceptLast {
      margin-right: 2rem;
    }
  }

  button {
    margin-bottom: 1rem;
    width: 100%;
    @include mixins.mq(md) {
      width: 240px;
    }
  }
}
