@use '@styles/colors';
@use '@styles/mixins';
@use '@styles/breakpoints';

.container {
  @include mixins.secondaryBackground;
  text-align: center;
  .grid {
    text-align: left;
  }
  & > * {
    max-width: map-get(breakpoints.$breakpoints, 'sm');
    margin: 0 auto;
  }
}
