@use '@styles/colors';
@use '@styles/mixins';
@use '@styles/breakpoints';

.container {
  @include mixins.secondaryBackground;
  text-align: center;
  h2 {
    margin-bottom: 1.5rem;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & > * {
      width: 400px;
      padding: 1rem;
    }
  }
  & > * {
    max-width: map-get(breakpoints.$breakpoints, 'lg');
    margin: 0 auto;
  }
}
