@use '@styles/colors';
@use '@styles/mixins';
@use '@styles/breakpoints';

.container {
  @include mixins.secondaryBackground;
  text-align: center;
  h2 {
    margin-bottom: 1.5rem;
  }
  .grid {
    display: flex;
    @include mixins.allChildExceptLast {
      margin-right: 2em;
    }
  }
  & > * {
    max-width: map-get(breakpoints.$breakpoints, 'md');
    margin: 0 auto;
  }
}
