@use '@styles/colors';
@use '@styles/mixins';

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
  color: colors.$grey;

  @include mixins.mq(sm) {
    color: inherit;
  }

  &:hover {
    opacity: 0.8;
  }

  svg {
    fill: colors.$grey;
  }
}

.highlighted {
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  background-color: colors.$primary;
  color: colors.$black;
}
