@use '@styles/colors';

.nav {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: colors.$white;

  ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem 0;
    border-top: 1px solid rgba(colors.$grey, 0.5);
  }
}
