@use '@styles/colors';
@use '@styles/mixins';

.top-nav {
  font-weight: 600;

  ul {
    display: flex;
    align-items: center;

    @include mixins.allChildExceptLast {
      @include mixins.mq(sm) {
        margin-right: 1.5rem;
      }
    }

    .menu-contact {
      display: none;
      @include mixins.mq(sm) {
        display: block;
      }
    }
  }

  p {
    font-size: 1rem;
  }
}
