@use '@styles/colors';
@use '@styles/mixins';
@use '@styles/breakpoints';

.footer {
  background-color: colors.$grey-black;
  & > * {
    max-width: map-get(breakpoints.$breakpoints, 'lg');
    margin: 0 auto;
  }
  padding: 2rem;
  small {
    color: colors.$grey;
  }
  .container {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
}
