@use '@styles/colors';
@use '@styles/mixins';
@use '@styles/breakpoints';

.container {
  display: none;
  background-color: colors.$grey-black;
  & > * {
    max-width: map-get(breakpoints.$breakpoints, 'sm');
    margin: 0 auto;
  }
  padding: 2rem;
  small {
    color: colors.$grey;
  }
  @include mixins.mq(sm) {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
}
