@use '@styles/colors';
@use '@styles/mixins';

.name {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.header {
  padding: 0.75rem 1rem;
  @include mixins.mq(sm) {
    padding: 1rem 2rem;
  }
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
