$primary: #f90;
$tertiary: #f0f4fa;
$grey: #9e9e9e;
$white: #fff;
$black: #232f3e;
$dark-blue: #3a4d61;
$grey-black: rgb(40, 41, 43);
$error: rgb(97, 26, 21);
$error-light: rgb(253, 236, 234);
$success: rgb(30, 70, 32);
$success-light: rgb(237, 247, 237);

$dark-blue-bg: radial-gradient(circle farthest-corner at 100% 100%, $dark-blue, $black 73%);
