$primary: var(--primary-color);
$primary-light: var(--primary-light-color);
$primary-black: var(--primary-black-color);
$secondary: var(--secondary-color);
$grey: var(--grey-color);
$grey-black: var(--grey-black-color);
$white: #fff;
$error: rgb(97, 26, 21);
$error-light: rgb(253, 236, 234);
$success: rgb(30, 70, 32);
$success-light: rgb(237, 247, 237);

$primary-bg: radial-gradient(circle farthest-corner at 100% 100%, $primary, $primary-black 73%);
