@use './breakpoints';
@use './colors';

@mixin mq($key) {
  $size: map-get(breakpoints.$breakpoints, $key);

  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin allChildExceptLast() {
  & > :not(:last-child) {
    @content;
  }
}

@mixin secondaryBackground {
  background-color: colors.$white;
  color: colors.$primary-black;
}

@mixin tertiaryBackground {
  background-color: colors.$primary-light;
  color: colors.$primary-black;
}
